<?xml version="1.0"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%thread] %logger{56}.%method,%line 行  - %m%n</pattern>-->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) %highlight(%method,%line 行)| %msg%n</pattern>
            <!--<pattern>{"系统":"bcs-common","系统时间":"%d","日志级别":"%level","trace":"%p","thread":"%thread","class类":"%logger{56}","method方法":"%method","messages":"%message","line":"%line 行","m":"%m","stack_trace": "%exception{5}"}%n</pattern>-->
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <!-- info文件输出 -->
    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/info.json</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/info-%d{yyyy-MM-dd}-%i.json</FileNamePattern>
            <MaxHistory>120</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>200MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [%thread] %logger{56}.%method,%line 行  - %m%n</pattern>-->
            <pattern>{"系统":"bcs-common","系统时间":"%d","日志级别":"%level","trace":"%p","thread":"%thread","class类":"%logger{56}","method方法":"%method","messages":"%message","line":"%line 行","m":"%m","stack_trace": "%exception{5}"}%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- error文件输出 -->
    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/error.json</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/error-%d{yyyy-MM-dd}-%i.json</FileNamePattern>
            <MaxHistory>120</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>200MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [%thread] %logger{56}.%method,%line 行   - %m%n</pattern>
            <!-- <pattern>{"系统":"bbp-user-market","系统时间":"%d","日志级别":"%level","trace":"%p","thread":"%thread","class类":"%logger{56}","method方法":"%method","messages":"%message","line":"%line 行","m":"%m","stack_trace": "%exception{5}"}%n</pattern> -->
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 框架日志 -->
    <logger name="common-logger" additivity="false">
        <level>DEBUG</level>
        <appender-ref ref="console" />
        <!--<appender-ref ref="infoFile" />-->
        <!--<appender-ref ref="errorFile" />-->
    </logger>

    <!-- 日志级别 -->
    <root>
        <level value="info" />
        <appender-ref ref="console" />
        <!--<appender-ref ref="infoFile" />-->
        <!--<appender-ref ref="errorFile" />-->
    </root>
</configuration>